.your-orders-container {
    padding: 20px;
}

.order-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.order-item img.order-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.order-item h3 {
    margin: 0;
}

.order-item p {
    margin: 5px 0;
}

.date, .time {
    font-size: 0.9em;
    color: #555;
}

/* RatingAndReview.css */
.rating-review-container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
    text-align: center;
}

.stars-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.star-icon {
    cursor: pointer;
    margin: 0 5px;
    transition: color 0.2s;
    color: lightgray;
}

.star-icon.active {
    color: gold;
}

.review-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}
